$primary-green: #009879;
$active-green: #002920;
$light-accent: #ccfff5;
$light: #e5fffa;
$primary-pink: #ffd6df;
$active-pink: #af2540;
$light-pink: #dbc0c7;
$black: #000;
$white: #ffffff;

.half {
    width: 50%;
}
.row  {
    display: flex;
    justify-content: space-between;
}

.header {
    display: flex;
    flex-direction: row;
    background-color: $primary-green;
    width: 100%;
    right: 0;
    top: 0;
    justify-content: space-between;
    a {
        text-decoration: none;
        color: $white;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        list-style: none;
        align-items: center;
        margin-right: 50px;

        .menuItems {
            margin-left: 50px;
            display: inline-block;
            color: $white;
            text-decoration: none;
            font-size: x-large;

            :hover {
                color: $light-accent;
            }
        }
    }
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $primary-green;
    height: fit-content;
    left: 0;
    bottom: 0;
    width: 100%;
}

.logo {
    height: fit-content;
    display: flex;
    letter-spacing: 10px;
    flex-direction: row;
    margin: 10px 20px;
}

.container {
    display: flex;
    flex-direction: column;
}

.wrap {
    margin: 50px 100px;
    z-index: 2;
}

.display_data {
    background-color: $white;
    height: fit-content;
}

.styled_table,
.tiny_table {
    border-collapse: collapse;
    margin: 0;
    width: 100%;

    thead tr {
        background-color: $primary-green;
        color: $white;
        text-align: left;
    }

    th,
    td {
        padding: 12px 15px;
    }

    .sorting {
        th { padding: 0; }
        button {
        font-family: inherit;
        color: inherit;
        background-color: inherit;
        border: none;
        height: 100%;
        width: 100%;
        padding: 12px 15px;
        }
    }

    button:hover {
        background-color: $active-green;
    }

    tbody tr {
        border-bottom: 1px solid $white;
    }

    tbody tr:nth-of-type(even) {
        background-color: $light;
    }

    tbody tr:nth-of-type(odd) {
        background-color: $light-accent;
    }

    tbody tr:last-of-type {
        border-bottom: 2px solid $primary-green;
    }
}

.tiny_table {
    width: fit-content;
    position: relative;
    top: 170px;
    z-index: 10;
}

.scrollable_table_view {
    display: flex;
    width: 100%;
    flex-direction: column;
}
.scrollable_table_container {
    height: 200px;
    overflow: scroll;
    width: 100%;
    tr {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
    }
}


.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 100%;

    a {
        cursor: pointer;
        color: $black;
        font-size: large;
    }

    li {
        display: flex;
        border-radius: 0.5rem;
        cursor: pointer;
        border: none;
        height: 45px;
        width: fit-content;
        min-width: 45px;
        background-color: $primary-pink;
        margin: 0 5px;
        justify-content: center;
        align-items: center;
        font-size: large;
    }

    .text {
        width: fit-content;
        padding: 0 5px;
    }

    .text_disabled {
        pointer-events: none;
        width: fit-content;
        padding: 0 5px;
        background-color: $light-pink;
    }

    .pageItem:hover {
        background-color: $active-pink;
    }

    .pageItemActive {
        background-color: $active-pink;
    }
}

.table_view {
    display: flex;
    flex-direction: column;
    z-index: 10;
}

.basic_btn {
    display: flex;
    border-radius: 0.5rem;
    border: solid #006450 2px;
    background-color: #009879;
    margin: 0 5px;
    justify-content: center;
    align-items: center;
    font-size: large;
    width: fit-content;
    padding: 5px 10px;
    cursor: pointer;
    color: white;
}

.basic_btn:hover {
    background-color: #006450;
}

.map {
    width: 100%;
    min-height: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    z-index: 9;
}

.map_container {
    display: block;
    position: absolute;
    height: 350px;
    width: 100vw;
    left: 0;
    top: 80px;
}

.trips {
    top: 200px;
    padding-top: 180px;
}